@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(/fonts/Lausanne-500.woff2);
}
@font-face {
    font-family: font3;
    src: url(/fonts/bl-b.woff2);
}

html, body, #root {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}


.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moveLink{
    opacity: 0;
    transition: all ease 0.3s;
}

.link:hover .moveLink{
    opacity: 1;
    /* display: none; */
}

.linka:hover {
    opacity: 0;
}

.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;

}

.team {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    /* height: 100svh; */
    background-color: #0f0f0f;
    color: #e3e3db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    overflow: hidden;
}
.profile-images {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 5px;
  cursor: pointer;
  will-change: width, height;
  will-change: transform;
}

.profile-names {
  position: relative;
  /* background-color: #fff; */
  width: 100%;
  height: 14rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow-y: hidden;
}

.name h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  font-size: 12rem;
  font-weight: 700;
  letter-spacing: -0.5rem;
  line-height: 1;
  color: #f93535;
  user-select: none;
  transform: translateY(115%);
}

.name.default h1 {
  color: #e3e3db;
  transform: translateY(-115%);
}

.name h1 .letter {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}


@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@media (max-width: 900px) {
  .team {
    flex-direction: column-reverse;
    min-height: 100vh;
  }

  .profile-images {
    flex-wrap: wrap;
    max-width: 90%;
    justify-content:center;
  }

  .img {
    width: 60px;
    height: 60px;
    padding: 2.5px;
  }

  .name h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .profile-names {
    height: 2rem;
    position: relative;
  }
}